@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button{
  cursor: pointer;
}



.profilePic{
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute; 
  right: 0; 
  top: 0;
  margin-top: 30px;
  margin-right: 30px;
}


.select {
  margin: 0.5rem 0.5rem 1rem;
  overflow: hidden;
  position: relative;
}
#item{
  width: 370px;
  margin-top: 20px;
}

.backButton{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.profileDesc{
  justify-content: space-between;
  font-size: 15px; 
  width: 870px;
  height: 350px;
  display: flex;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
  background-color:  rgb(40, 40, 40);
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileEditBtn{
  margin-top: 20px;
  float: right;
  width: 80px;
}

.profileSaveBtn{
  float: right;
  width: 80px;
}

.profilePic-ProfilePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

:disabled{
  color: rgb(100, 100, 100);
}

.main{
  font-size: 11px; 
  width: 550px;
  height: 750px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
  background-color:  rgb(40, 40, 40);
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-todo {
  padding: 0.75rem;
}

select{
  color: black;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}

.saveEditCon{
  margin-top: 20px;
  width: 300px;
}
.editProfileClass
{
  font-size: 17px;
  width: 300px;
}
body {
  background: #333;
  color: rgb(200, 200, 200);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.logout-icon{
  cursor: pointer;
}
.btn {
  background: rgb(15, 15, 15);
  border: 1px solid rgb(30, 30, 30);
  color: rgb(150, 150, 150);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.btn:hover,
.btn:focus-visible {
  background: rgb(60, 60, 60);
}

.new-item-form input {
  outline: none;
  border: 1px solid rgb(50, 50, 50);
  background: rgb(95, 95, 95);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: rgb(230, 230, 230);
}

.new-item-form input:focus {
  border: 1px solid rgb(150, 150, 150);
}

.header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-todo{
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 300px;
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.input-edit {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 300px;
  height: 58px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: black;
}


.labelList{
  margin-right: 10px;
}

.list li:has(input:checked) label {
  color: rgb(140, 140, 140);
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.listContainer{
  height: 450px;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.btnred{
  margin-right: 5px;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid rgb(100, 100, 100);
}

/* .list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
} */

.list li input.todo-checkbox {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(250, 250, 250);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: rgb(150, 150, 150);
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: rgb(220, 220, 220);
  color: rgb(20, 20, 20);
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: rgb(150, 150, 150);
}

/* .btn-edit {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px; 
  cursor: pointer;
  border-radius: 4px;
}

.btn-edit:hover {
  background-color: #0056b3; 
} */